h1 Configuration Settings
.alert.alert-danger(ng-cloak,ng-if='error') {{ error }}
.row
  .col-lg-4
    form.form-horizontal.well(ng-cloak,ng-if='config',ng-submit='submit()')
      fieldset
        div(ng-repeat="(name,group) in config | groupBy:'group'")
          legend {{ name }}
          .form-group(ng-repeat='entry in group')
            label.col-lg-4.control-label(for='{{ entry.key }}') {{ entry.label }}:
            .col-lg-8
              input.form-control(ng-disabled="entry.status === 'locked'",ng-model='entry.value',type='text')
        .form-group
          legend
          .col-lg-8.col-lg-offset-4
            button.btn.btn-primary(type='submit') Save
            | &nbsp;
            button.btn.btn-default(type='reset') Reset
