h1 Device Setup
.row(ng-if='devices')
  .col-lg-12
    ul.nav.nav-tabs
      li(ng-repeat='device in devices',ng-class='{active: device.id == currentID}')
        a(data-toggle='tab',ng-click='makeActive(device)') {{ device.label }}
    .tab-content
      hash-editor(ng-repeat='device in devices',values-key='device.valuesKey',api='device.api',ng-show='device.id == currentID')
        | TEST