h1 Command Shell
form.form-horizontal
  fieldset
    .form-group
      .col-lg-11
        .input-group
          input.form-control(type='text',ng-model='commandLine',placeholder='Enter shell command')
          span.input-group-btn
            button.btn.btn-default(ng-click='executeCommand()') Submit
      .col-lg-1
        button.btn.btn-default(ng-click='clearOutput()') Clear
.shellView
  #shellOutput
