h1 Command Shell
stdio-socket(behavior='"shell"',observer='observer')
  .col-lg-11
    .input-group
      input.form-control(type='text',ng-model='stdio.commandLine',placeholder='Enter shell command')
      span.input-group-btn
        button.btn.btn-primary(ng-click='stdio.executeCommand()',ng-disabled='stdio.commandActive') Submit
  .col-lg-1
    button.btn.btn-default(ng-click='stdio.clearOutput()',ng-disabled='stdio.lineID === 0') Clear
    | &nbsp;
    button.btn.btn-default(ng-click='stdio.killCommand()',ng-disabled='!stdio.commandActive') Kill
