extends layout
block scripts
  script(src='/jquery.min.js')
  script(src='/angular.min.js')
  script(src='/angular-filter.min.js')
  script(src='/angular-ui-router.min.js')
  script(src='/d3.min.js')
  script(src='/javascripts/lodash.custom.min.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controllers/home_controller.js')
  script(src='/javascripts/controllers/config_controller.js')
  script(src='/javascripts/controllers/metrics_controller.js')
  script(src='/javascripts/controllers/status_controller.js')
