extends angular
block styles
  link(rel='stylesheet', href='/stylesheets/common.css')
block content
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand M2M Supervisor
      ul.nav.navbar-nav
        li(ng-class = "{active: $state.includes('home')}")
          a(ui-sref = 'home') Home
        li(ng-class = "{active: $state.includes('jobs')}")
          a(ui-sref = 'jobs') Job History
        li(ng-class = "{active: $state.includes('metrics')}")
          a(ui-sref = 'metrics') Metrics
        li(ng-class = "{active: $state.includes('diagnostics')}")
          a(ui-sref = 'diagnostics') Diagnostics
        li(ng-class = "{active: $state.includes('logs')}")
          a(ui-sref = 'logs') Process Logs
        li(ng-class = "{active: $state.includes('config')}")
          a(ui-sref = 'config') Configuration
        li(ng-class = "{active: $state.includes('shell')}")
          a(ui-sref = 'shell') Shell
      .btn-toolbar.pull-right
        h4
          span.label(ng-class='globalStatus.css',ui-sref='status') {{ globalStatus.label }}
  .container-fluid
    .page-header
    #main_view(ui-view)
