extends angular
block styles
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand M2M Supervisor
      ul.nav.navbar-nav
        li
          a Dashboard
      ul.nav.navbar-nav.navbar-right
        li
          a Admin
  .container-fluid
    .page-header
    #main_view(ui-view= true)
