extends angular
block styles
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand M2M Supervisor
      ul.nav.navbar-nav
        li(ng-class = "{active: $state.includes('Home')}")
          a(ui-sref = 'home') Home
        li(ng-class = "{active: $state.includes('Config')}")
          a(ui-sref = 'config') Config
      .btn-toolbar.pull-right
        h4
          span.label(ng-class='globalStatus.css',ui-sref='status') {{ globalStatus.label }}
  .container-fluid
    .page-header
    #main_view(ui-view)
