doctype html
html(ng-app="SupervisorApp")
  head
    title= title
    base(href='/')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
    block styles
    block scripts
  body
    block content