.stdioView { /* TODO figure out how to make the shell output scroll inside the shell view */
    overflow: auto;
    position: relative;
    height: 100%;
}

#shellOutput {
}

.stdio-line {
}

.stdin, .stdout, .stderr {
    font-family: monospace;
}

.stdin {
    background-color: lightgray;
    color: blue;
}

.stderr {
    color: red;
}

.form-horizontal .form-units {
    position: relative;
    left: -5px;
    padding-left: 0px;
    text-align: left;
}