extends layout
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.js')
  script(src='/supervisor/javascripts/app.js')
  script(src='/supervisor/javascripts/controllers/home_controller.js')
  script(src='/supervisor/javascripts/controllers/config_controller.js')
  script(src='/supervisor/javascripts/controllers/devices_controller.js')
  script(src='/supervisor/javascripts/controllers/metrics_controller.js')
  script(src='/supervisor/javascripts/controllers/schedules_controller.js')
  script(src='/supervisor/javascripts/controllers/status_controller.js')
  script(src='/supervisor/javascripts/controllers/shell_controller.js')
  script(src='/supervisor/javascripts/controllers/commands_controller.js')
  script(src='/supervisor/javascripts/directives/alert_message_directive.js')
  script(src='/supervisor/javascripts/directives/hash_editor_directive.js')
  script(src='/supervisor/javascripts/directives/hash_group_directive.js')
  script(src='/supervisor/javascripts/directives/hash_input_directive.js')
  script(src='/supervisor/javascripts/directives/stdio_socket_directive.js')
