extends angular
block styles
  link(rel='stylesheet', href='/supervisor/stylesheets/common.css')
block content
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand M2M Supervisor
      unless proxyOnly
        ul.nav.navbar-nav
          li(ng-class = "{active: $state.includes('home')}")
            a(ui-sref = 'home') Home
          li(ng-class = "{active: $state.includes('metrics')}")
            a(ui-sref = 'metrics') Metrics
          li(ng-class = "{active: $state.includes('devices')}")
            a(ui-sref = 'devices') Device Setup
          li(ng-class = "{active: $state.includes('commands')}")
            a(ui-sref = 'commands') Commands
          li(ng-class = "{active: $state.includes('schedules')}")
            a(ui-sref = 'schedules') Schedules
          li(ng-class = "{active: $state.includes('config')}")
            a(ui-sref = 'config') General Setup
          li(ng-class = "{active: $state.includes('shell')}")
            a(ui-sref = 'shell') Shell
      .btn-toolbar.pull-right
        h4
          span.label(ng-class='globalStatus.css',ui-sref='status') {{ globalStatus.label }}
  .container-fluid
    .page-header
    #main_view(ui-view)
