.alert.alert-danger(ng-cloak,ng-if='messages.error') {{ messages.error }}
.alert.alert-warning(ng-cloak,ng-if='messages.warning') {{ messages.warning }}
.alert.alert-info(ng-cloak,ng-if='messages.info') {{ messages.info }}
.alert.alert-success(ng-cloak,ng-if='messages.success') {{ messages.success }}