h1 Schedules
alert-message(messages='globalMessages')
.row(ng-if='schedules')
  .col-lg-12
    ul.nav.nav-tabs
      li(ng-repeat='schedule in schedules',ng-class='{active: schedule.id == currentID}')
        a(data-toggle='tab',ng-click='makeActive(schedule)') {{ schedule.id }}
      li(ng-class='{active: newSchedule.id === currentID}')
        a(data-toggle='tab',ng-click='makeActive(newSchedule)') New Schedule
    .tab-content.well
      table.table.active(ng-repeat='schedule in schedules',ng-show='schedule.id === currentID')
        tr
          th Periods:
          td(ng-repeat='entry in schedule.periods') {{ entry.period }}
        tr
          th Commands:
          td(ng-repeat='entry in schedule.periods')
            p(ng-repeat='command in entry.commands') {{ command }}
      div(ng-show='schedule.id == currentID')
        .alert.alert-info COMING SOON! Upload a schedule file...
